body {
	box-sizing : border-box;
	-webkit-box-direction: normal;
	display: block;
}

.statusList {
	font-family: "Cairo", sans-serif;
	margin-bottom: 20px;
	margin-left: 15vw;
	height: 630px;
	width: 70vw;
}

.lineContent {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: white;
	height: 595px;
}

.trainLines {
    width: 70vw;
    border-bottom: 1px solid grey;
    height: 50px;
}

.lineIcon {
	display: block;
	margin-left: 10px;
	margin-right: 10px;
    margin-top: 8px;
    width: 37px;
    height: auto;
	float: left;
	position: relative;
}

.lineInfo {
	text-align: left;
	padding-top: 10px;
}

.lineName {
	display: block;
	line-height: 10px;
}

.moreLines {
	align-items: center;
	text-align: center;
	width: 100%;
}

.maps {
	font-family: "Cairo", sans-serif;
	margin-left: 15vw;
	height: 250px;
	width: 70vw;
}

.mapscontent {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: white;
	height: 100%;
}

.img-left {
	display: inline-block;
	padding-top: 1%;
	width: 40%;
	text-align: center;
	padding-left: 5%;
}

.img-right {
	padding-top: 1%;
	width: 40%;
	text-align: center;
	float: right;
	padding-right: 5%;
}

.attractions {
	width: 70vw;
	height: 265px;
	margin-left: 15vw;
	font-family: "Cairo", sans-serif;
	margin-top: 60px;
}

.attractionsList {
	background-color: white;
	height: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.moreAttractions {
	align-items: center;
	text-align: center;
	width: 100%;
}

.blockImg {
	width: 30vw;
	height: 75px;
	max-height:75px;
	object-fit: cover;
	overflow: hidden;
}

.bottom { 
	height: 30px;
}