body {
	box-sizing : border-box;
	-webkit-box-direction: normal;
	display: block;
}

.results {
    width: 70vw;
    margin-left: 15vw;
    background-color: white;
    overflow: auto;
    border-radius: 10px;
    font-family: "Cairo", sans-serif;
}

.sorry {
    display: block;
    line-height: 20px;
    color: red;
    text-align: center;
}

.suggestTitle {
    display: block;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}

.suggestions {
    display: block;
    line-height: 25px;
    margin-left: 10px;
}

.journey {
    margin-top: 5px;
    width: 70vw;
}

.journeyPlan {
    overflow: auto;
    border-bottom: 1px solid grey;
}

.modeIcon {
	margin-left: 10px;
	margin-right: 10px;
    margin-top: 8px;
    width: 37px;
    height: auto;
	float: left;
	position: relative;
}

.modeInfo {
    display: block;
    margin-left: 60px;
}

.btn-group {
    width: 60vw;
    margin-left: 20vw;
    -webkit-appearance: none;
}

button {
    width: 19.3vw;
}