#content {
    margin-top: -30px;
    margin-left: 10vw;
    width: 80vw;
    overflow: auto;
    border-radius: 10px;
    font-family: "Cairo", sans-serif;
}

.statusTitle {
    color: white;
}

.statusIcon {
    margin-top: 5px;
    height:20px;
    width: auto;
}

.statusText {
    background-color: white;
    color: black;
}

.statusDetails {
    padding-top: 10px;
}

#lineMap {
    margin-top: 20px;
}

.mapTitle {
    font-family: "Cairo", sans-serif;
    margin-left: 10vw;
    font-size: 20px;
}

.mapimg {
    width: 95vw;
    height: auto;
    border-radius: 10px;
    margin-left: 2.5vw;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.zoomedImg {
	display: none;
	position: absolute;
	padding-top: 45%;
	left: 0;
	top: -50%;
	width: 100%;
	height: 150%;
    background-color: rgba(0,0,0,0.9);
    overflow: hidden;
}

.new-image {
	margin: auto;
	display: block;
	padding-top: 100%;
	width: 80%;
	max-width: 700px;
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}
  
@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)} 
	to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
}

.close {
	position: absolute;
	top: 10%;
	right: 10%;
	padding-top: 100%;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

@media only screen and (max-width: 700px){
	.new-image {
	  	width: 100%;
	}
}